.sport__box {
	width: 100%;
	position: relative;
}
.sport__image {
    width: 100%;
    @include medium {
        display: none;
    }
}

.sport__video {
	display: flex;
	object-fit: cover;
	width: 100%;
    @include small {
        display: none;
    }
}

.sport__title1 {
	display: flex;
	font-family: $oswald;
	font-size: 3rem;
	padding: 0 0.4rem;
	color: tomato;
	text-align: center;
	font-weight: 200;
	position: absolute;
	top: 1rem;
	right: 4rem;
}

.sport__title2 {
	bottom: 1rem;
	left: 4rem;
	position: absolute;
	font-family: $oswald;
	font-size: 3rem;
	color: $light;
	font-weight: 100;
}


.sport__images--box {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.sport__images--medium {
    transition: 0.5s;
	@include medium {
        transition: 0.5s;
		flex-direction: row;
		display: flex;
		justify-content: center;
	}
}

.sport__images--title {
	text-align: center;
	margin: 0 0 2.5rem 0;
	color: $light;
	letter-spacing: 0.1rem;
	font-family: $oswald;
	font-weight: 100;
	display: block;
	text-decoration: none;
}
.sport__image--parent {
	position: relative;
    transition: ease margin 0.5s;
    @include large {
        margin: 0 3rem;
        transition: ease margin 0.5s;
    }
}
.sport__images--img {
	// margin: 0 2.5rem;
	border: 1px solid $light;
	border-radius: 10px;
	margin-bottom: 0.5rem;
}

.sport__images--imgtxt {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 2rem;
}
