.contact__input--box {
    // display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__input--boxsmall {
    flex-direction: column;
}

.contact__submit {
    margin-bottom: 3rem;
}