@import './variabels';
@import './reset';
@import './mixins';
@import '../Components/About/about';
@import '../Components/Hero/hero';
@import '../Components/Header/header';
@import '../Components/Newsletter/newsletter';
@import '../Components/Media/media';
@import '../Components/Footer/footer';
@import './pages';
@import '../Components/Contact/contact';
@import '../Components/Sky/sky';

.video__box {
	width: 100%;
	position: relative;
}

.video__image {
	width: 100%;
	border-top: 2px solid $lightred;
	@include medium {
		display: none;
	}
}

.video__hero {
	display: flex;
	position: relative;
	object-fit: cover;
	width: 100%;
	height: 50rem;
	border-bottom: 1px solid $light;
	@include small {
		display: none;
	}
}

.global__box {
	position: relative;
	background-color: $dark;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-top: 1px solid $lightred;
	min-width: 450px;
	@include small {
		border-top: 0;
	}
}

.video__hero--title1 {
	display: flex;
	font-family: $oswald;
	font-size: 3rem;
	padding: 0 0.4rem;
	color: tomato;
	text-align: center;
	font-weight: 200;
	position: absolute;
	top: 1rem;
	right: 4rem;
	@include small {
		display: none;
	}
	@include medium {
		display: none;
	}
	@include large {
		display: flex;
	}
}

.video__hero--title2 {
	bottom: 1rem;
	left: 4rem;
	position: absolute;
	font-family: $oswald;
	font-size: 3rem;
	color: $light;
	font-weight: 100;
	@include small {
		display: none;
	}
	@include medium {
		display: none;
	}
	@include large {
		display: flex;
	}
}

.operator__title2 {
	color: white;
	bottom: 43rem;
}

.sky__title2 {
	bottom: 39rem;
}

.background__light {
	background-color: #1d1c1a;
}

.global__title {
	font-family: $oswald;
	font-size: 1.4rem;
	margin: 1rem;
	margin-top: 2rem;
	padding: 0 0.4rem;
	color: $light;
	text-align: center;
	font-weight: 200;
}

.global__content--text {
	color: $light;
	max-width: 35rem;
	text-align: center;
	font-size: 1.4rem;
	font-family: $oswald;
	font-weight: 200;
	padding: 0 4rem;
	margin-bottom: 2rem;
	@include small {
		margin-bottom: 2rem;
	}
	@include medium {
		width: 25rem;
	}

	@include large {
		width: 35rem;
	}
}

.global__images--box {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	@include large {
		flex-direction: row;
	}
}

.global__images--medium {
	transition: 0.5s;
	@include medium {
		transition: 0.5s;
		flex-direction: row;
		display: flex;
		justify-content: center;
	}
}

.global__image--parent {
	position: relative;
	transition: ease margin 0.5s;
	@include large {
		margin: 0 1rem;
		transition: ease margin 0.5s;
	}
}

.global__images--img {
	border: 1px solid $light;
	border-radius: 10px;
	margin-bottom: 1.5rem;
	width: 30rem;
	height: 29rem;
	cursor: pointer;
	&:hover {
		@include large {
			border: 1px solid tomato;
			scale: 1.1;
		}
	}
	@include medium {
		width: 25rem;
	}
	@include large {
		transition: 0.5s;
		width: 20rem;
	}
	@include small {
		height: 37rem;
		width: 26rem;
		margin: 0;
		box-shadow: 7px 8px 23px 1px rgb(124, 80, 72);
	}
}

.images__twice {
	width: 40rem;
	height: 25rem;

	@include medium {
		width: 25rem;
	}
	@include large {
		transition: 0.5s;
		width: 40rem;
	}
	@include small {
		height: 27rem;
		width: 28rem;
	}
}

.global__images--imgtxt {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 2rem;
}

.global__images--title {
	text-align: center;
	margin: 0.5rem 0 2.5rem 0;
	color: tomato;
	letter-spacing: 0.1rem;
	font-family: $oswald;
	font-weight: 400;
	display: block;
	text-decoration: none;
	@include large {
		display: none;
	}
}

.global__hidden--box {
	@include small {
		display: none;
	}
}

.global__show--button {
	@include small {
		color: $lightred;
		margin: 0;
		font-weight: 200;
	}
	@include medium {
		display: none;
	}
}

.global__show--arrow {
	font-size: 3rem;
	margin-bottom: 5rem;
}
.global__show {
	display: block;
}
.global__arrow--show {
	transform: rotate(180deg);
}
