

.about__more {
	font-family: $oswald;
	font-weight: 200;
	color: #D0756F;
	letter-spacing: 0.2rem;
	padding-bottom: 2rem;
	text-decoration: none;
	transition: 0.5s;
	cursor: pointer;
	&:hover {
		color: tomato;
		scale: 1.1;
		
	}
	@include small {
		border-bottom: 1px solid $lightred;
		padding-bottom: 0.3rem;
		margin-bottom: 1rem;
	}
}
